<ion-header class="ion-no-border">
  <ion-toolbar class="tema">
    <ion-icon name="body-outline" slot="end"></ion-icon>
    <ion-back-button slot="start" defaultHref="login" mode="ios" color="dark" text="Atras"></ion-back-button>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding tema">
  
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Nombre Usuario</ion-label>
    <ion-input type="email" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Teléfono</ion-label>
    <ion-input type="number" [(ngModel)]="telefono"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>

  <ion-button color="warning" class="ion-margin letra-boton" expand="block" (click)="tryRegister()" [disabled]="disabledButton">Registrar</ion-button>

  
  

</ion-content>
